# {{ ansible_managed }}
# Thresholds for /usr/local/sbin/k3s-node-guard.sh (roles/prereq).
LEASE_MAX_AGE_H={{ node_guard_lease_max_age_hours }}
DISK_PRESSURE_PCT={{ node_guard_disk_pressure_pct }}
PURGE_DIRS="{{ node_guard_purge_dirs | join(' ') }}"
JOURNAL_VACUUM_SIZE={{ node_guard_journal_vacuum_size }}
TEMPDB_MAX_AGE_MIN={{ node_guard_tempdb_max_age_min }}
